
html {
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    line-height: 1.4;
    color: gray;    
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    background: gray;
    color: lightblue;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  
}

/* header */

header {
    min-height: 100vh;
    display: flex;
    background-color: slategrey;
    flex-direction: column;
    justify-content: stretch;
    background-size: cover;
}

.navbar {
    background: gray;
    padding: 10px;
    overflow: overlay;
}

.navbar-brand {
    color: lightblue;
    font-size: 20px;
    display: block;
    text-align: left;
    text-decoration: none;
    font-family: sans-serif;
    transition: 700ms ease;
    outline: none;
    display: inline-block;
    margin-right: 40%;
}

.navbar-brand:hover {
    transition: 0.5s ease-in;
    color: lightskyblue;
    letter-spacing: 5px;
}

.navbar-nav {
    padding: 12px 0 4px 0;
}

.navbar-nav a {
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    color: lightblue;
    text-decoration: none;
    border-top: 2px solid transparent;
    display: inline-block;
    padding: 4px 2px;
    letter-spacing: 3px;
    transition: 0.5s ease-in;
}

.navbar-nav a:hover {
    border-top: 2px solid lightskyblue;
}

/* página inicial */

.banner {
    margin: 10% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: lightblue;
}

.banner-title {
    font-size: 48px;
    font-family: monospace;
    line-height: 1.2;
    text-shadow: 2px 2px gray;
}

.banner-title span {
    font-family: monospace;
    color: gray;
    text-shadow: 2px 2px rgb(29, 29, 29);
}

.banner p {
    margin: 16px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-transform: monospace;
    font-weight: 300;
    word-spacing: 2px;
    text-shadow: 2px 1px rgb(29, 29, 29);
    background-color: gray;
}

.banner form {
    background: #fff;
    border-radius: 32px;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
}

.search-input {
    font-family: monospace;
    font-size: 18px;
    width: 100%;
    outline: 0;
    padding: 18px 0;
    border: none;
}

.search-btn {
    width: 40px;
    font-size: 18px;
    color: gray;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

.search-btn:hover {
    color: slategrey;
    transition: 0.5s ease-in;
}

/* recentes */

.content {
    padding: 72px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(75, 70, 70, 0.8));
}

.title {
    text-align: center;
    padding: 16px 0;
}

.title h2 {
    font-family: sans-serif;
    font-size: 38px;
}

.title p {
    color: darkslategray;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    padding: 10px 0;
    text-shadow: 0.5px 0.5px lightblue;
}

.div-content {
    margin: 32px 0;
    display: inline-flex;
    justify-content: space-between;
}

.content-item {
    cursor: pointer;
    margin: 24px 0;
}

.content-img {
    position: relative;
    overflow: visible;
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 25px;
}

.content-img img {
    transition: 0.5s ease-in;
}

.content-item:hover img {
    transform: scale(1.1);
}

.content-img span:first-of-type {
    z-index: 1; 
    color: lightblue;
    text-shadow: 1px 2px gray;
    padding: 4px 16px;
}

.content-img span:last-of-type {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

.content-title {
    margin-top: 20px;
    padding: 16px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.content-title a {
    color: gray;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
}

/* popup */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.popuptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    margin: 30px 0px 0px -50px;
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: none;
}

.content-title:hover .popuptext {
    visibility: visible;
    animation: fade 1s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}


